@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

body {
    margin:0;
    padding:0;
    background: url("../img/bg.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial;
}

#gdpr-cookies-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-break: break-all;
}

#gdpr-cookies-container a {
    text-decoration:none;
}

#gdpr-cookies-container li {
    float: left;
}

@media only screen and (min-width: 1040px) {
    
.li_box_left {
    position:absolute;
    width:40%; 
    height:100%; 
    background:#FFFFFF;
    z-index:29990;
}

.li_box_right {
    position:absolute; 
    width:60%; 
    height:100%; 
    background:#EDEDED; 
    z-index:29990; 
    margin-left:40%;
}

/* width */
#gdpr-cookies-container ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#gdpr-cookies-container ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
#gdpr-cookies-container ::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#gdpr-cookies-container ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#gdpr-cookies-container li:nth-child(1) {
    width:40%;
    overflow:auto;
    font-family:Arial;
    font-size:16px;
}

#gdpr-cookies-container li:nth-child(2) {
    width:60%;
    background:#EDEDED;
}

#gdpr-cookies-left-logo {
    position:relative;
    width:90%;
    margin-left:5%;
    height:16%;
    text-align: center;
    -webkit-box-shadow: 0 15px 15px -15px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0 15px 15px -15px rgba(50, 50, 50, 0.20);
    box-shadow:         0 15px 15px -15px rgba(50, 50, 50, 0.20);
}

#gdpr-cookies-left-menu {
    position:relative;
    max-height:84%;
    overflow:auto;
}

.gdpr-cookies-left-menu-item {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10%;
    padding:20px 0px 20px 0px;
    padding-left:5%;
    width:75%;
    border:2px #FFFFFF solid;
    background:#F0F0F0;
    color:#fa3e3e;
    font-size:18px;
    cursor:pointer;
}

.gdpr-cookies-left-menu-item-selected {
    border:2px #FFFFFF solid;
    border-right:2px #fa3e3e solid;
    background:#FFFFFF;
}

.gdpr-cookies-right-box-selected{
    
}
.gdpr-cookies-right-box-hidden {
    display:none;
}

#gdpr-cookies-overlaybg {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:#0a0a0a;
    opacity:0.5;
    z-index:29990;
}

#gdpr-cookies-container {
    position:fixed;
    width:80%;
    height:80%;
    top:10%;
    left:10%;
    background:#FFFFFF;
    z-index:29991;
}

.gdpr-cookies-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.20);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.20);
}

.gdpr-cookies-shadow-inner {
    -webkit-box-shadow: inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
    box-shadow:         inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
}

.gdpr-cookies-radius {
    border-radius:0px;
}

#gdpr-cookies-close-container {
    position: absolute;
    right:-10px;
    top:-10px;
    text-align:center;
    padding:12px 15px 12px 15px;
    font-family:Arial;
    font-size:20px;
    transition:0.3s;
    cursor:pointer;
    z-index:29992;
    background:#fa3e3e;
    color:#F0F0F0;
}

#gdpr-cookies-close-container:hover {
    background:#0A0A0A;
    color:#FFFFFF;
    transition:0.3s;
}

#gdpr-cookies-right-title {
    width:86%;
    margin-left:5%;
    margin-top:5%;
    padding:2%;
    font-size:30px;
    font-family:Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color:#0A0A0A;
    border-bottom:1px #E6E6E6 solid;
}

#gdpr-cookies-right-content {
    width:86%;
    margin-left:5%;
    margin-top:2%;
    padding:2%;
    font-size:16px;
    font-family:Arial;
    color:#0A0A0A;
    max-height: 55%;
    overflow:auto;
    word-break: normal;
    word-wrap: break-word;
}

#gdpr-cookies-right-footer {
    position:fixed;
    bottom:10%;
    height:15%;
    margin-top: 50px;
    margin-left:4%;
    width:40%;
    box-shadow: 0 -10px 10px -10px rgba(50, 50, 50, 0.10);
}

.gdpr-cookies-right-footer-button {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10%;
    padding:20px 0px 20px 0px;
    width:200px;
    text-align: center;
    background:#fa3e3e;
    color:#FFFFFF;
    font-size:16px;
    transition: 0.3s;
    cursor:pointer;
    border: 1px #fa3e3e solid;
}

.gdpr-cookies-right-footer-button:hover {
    border: 1px #fa3e3e solid;
    background:#f0f0f0;
    color:#fa3e3e;
    transition: 0.3s;
}

.gdpr-cookies-right-footer-button.disabled {
    border: 1px #D9D9D9 solid;
    background:#E8E8E8;
    color:#BABABA;
    cursor:not-allowed;
    transition: 0.3s;
}


.gdpr-cookies-right-footer-button.left {
    position:absolute;
    margin-left:0;
    left:0;
}

.gdpr-cookies-right-footer-button.right {
    position:absolute;
    right:10px;
}

.gdpr-cookies-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top:5px;
}

.gdpr-cookies-switch input {display:none;}

.gdpr-cookies-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.gdpr-cookies-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.gdpr-cookies-switch input:checked + .gdpr-cookies-slider {
  background-color: #fa3e3e;
}

.gdpr-cookies-switch input:focus + .gdpr-cookies-slider {
  box-shadow: 0 0 1px #fa3e3e;
}

.gdpr-cookies-switch input:checked + .gdpr-cookies-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.gdpr-cookies-slider-label {
    font-size:17px;
    margin-top:30px;
}

#gdpr-cookies-overlaybg.hidden {
    display:none;
}

#gdpr-cookies-container.hidden {
    display:none;
}

.gdpr-cookies-floatButton {
    position: fixed; 
    bottom:20px; 
    left:20px;
    color:#FFFFFF;
}

.gdpr-cookies-floatButton-icon {
    background:#0A0A0A;
    padding:20px; 
    cursor:pointer;
}
.gdpr-cookies-floatButton:hover .gdpr-cookies-floatButton-text::after {
    content: attr(data-floatButton);
    background:#0a0a0a;
    padding:15px;
    font-size:14px;
    opacity:0.8;
}

.gdpr-cookies-warning-button{
    display:inline-block; 
    position:relative; 
    padding:10px;
    background:#fa3e3e;
    cursor:pointer;
    margin-left:10px;
}

.gdpr-cookies-warning-float-box {
    position:fixed; 
    width:100%; 
    text-align: center;
    padding:25px 0px 25px 0px; 
    color:#FFFFFF; 
    background:#0A0A0A;
}

.gdpr-cookies-warning-float-box.bottom {
    bottom:0; 
}

.gdpr-cookies-warning-float-box.top {
    top:0; 
}

.gdpr-cookies-warning-float-box.bottom-left {
    width:400px; 
    left:20px; 
    bottom:20px;
 }

.gdpr-cookies-warning-float-box.bottom-right {
    width:400px; 
    right:20px; 
    bottom:20px;
 }

.gdpr-cookies-warning-float-box.top-left {
    width:400px; 
    left:20px; 
    top:20px;
 }

.gdpr-cookies-warning-float-box.top-right {
    width:400px; 
    right:20px; 
    top:20px;
 }


}

@media only screen and (max-width: 1040px) {
    
.li_box_left {
    position:absolute !important;
    width:20% !important; 
    height:100% !important; 
    background:#FFFFFF !important;
    z-index:29990 !important;
}

.li_box_right {
    position:absolute; 
    width:80%; 
    height:100%; 
    background:#EDEDED; 
    z-index:29990; 
    margin-left:20%;
}

/* width */
#gdpr-cookies-container ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#gdpr-cookies-container ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
#gdpr-cookies-container ::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#gdpr-cookies-container ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#gdpr-cookies-container li:nth-child(1) {
    width:40%;
    overflow:auto;
    font-family:Arial;
    font-size:16px;
}

#gdpr-cookies-container li:nth-child(2) {
    width:60%;
    background:#EDEDED;
}

#gdpr-cookies-left-logo {
    position:relative;
    width:90%;
    margin-left:5%;
    height:16%;
    text-align: center;
    -webkit-box-shadow: 0 15px 15px -15px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0 15px 15px -15px rgba(50, 50, 50, 0.20);
    box-shadow:         0 15px 15px -15px rgba(50, 50, 50, 0.20);
}

#gdpr-cookies-left-menu {
    position:relative;
    max-height:84%;
    overflow:auto;
}

.gdpr-cookies-left-menu-item {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5%;
    padding:20px 0px 20px 0px;
    width:90%;
    border:2px #F0F0F0 solid;
    background:#F0F0F0;
    color:#fa3e3e;
    font-size:15px;
    cursor:pointer;
    word-break: normal;
    word-wrap: break-word;
    text-align: center;
}

.gdpr-cookies-left-menu-item-selected {
    border:2px #FFFFFF solid;
    border-right:2px #fa3e3e solid;
    background:#FFFFFF;
}

.gdpr-cookies-right-box-selected{
    
}
.gdpr-cookies-right-box-hidden {
    display:none;
}

#gdpr-cookies-overlaybg {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:#0a0a0a;
    opacity:0.5;
    z-index:29990;
}

#gdpr-cookies-container {
    position:fixed;
    width:90%;
    height:80%;
    top:10%;
    left:5%;
    background:#FFFFFF;
    z-index:29991;
}

.gdpr-cookies-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.20);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.20);
}

.gdpr-cookies-shadow-inner {
    -webkit-box-shadow: inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
    box-shadow:         inset 2px 0px 15px 0px rgba(50, 50, 50, 0.20);
}

.gdpr-cookies-radius {
    border-radius:0px;
}

#gdpr-cookies-close-container {
    position: absolute;
    right:-10px;
    top:-10px;
    text-align:center;
    padding:12px 15px 12px 15px;
    font-family:Arial;
    font-size:20px;
    transition:0.3s;
    cursor:pointer;
    z-index:29992;
    background:#fa3e3e;
    color:#F0F0F0;
}

#gdpr-cookies-close-container:hover {
    background:#0A0A0A;
    color:#FFFFFF;
    transition:0.3s;
}

#gdpr-cookies-right-title {
    width:86%;
    margin-left:5%;
    margin-top:5%;
    padding:2%;
    font-size:30px;
    font-family:Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color:#0A0A0A;
    border-bottom:1px #E6E6E6 solid;
    word-break: normal;
    word-wrap: break-word;
    text-align: center;
}

#gdpr-cookies-right-content {
    width:86%;
    margin-left:5%;
    margin-top:2%;
    padding:2%;
    font-size:16px;
    font-family:Arial;
    color:#0A0A0A;
    max-height: 45%;
    overflow:auto;
    word-break: normal;
    word-wrap: break-word;
}

#gdpr-cookies-right-footer {
    position:fixed;
    bottom:10%;
    height:25%;
    margin-top: 50px;
    margin-left:4%;
    width:40%;
    box-shadow: 0 -10px 10px -10px rgba(50, 50, 50, 0.10);
}

.gdpr-cookies-right-footer-button {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5%;
    padding:20px 0px 20px 0px;
    width:40%;
    text-align: center;
    background:#fa3e3e;
    color:#FFFFFF;
    border: 1px #fa3e3e solid;
    font-size:12px;
    transition: 0.3s;
    cursor:pointer;
    word-break: normal;
    word-wrap: break-word;
    text-align: center;
}

.gdpr-cookies-right-footer-button:hover {
    border: 1px #fa3e3e solid;
    background:#f0f0f0;
    color:#fa3e3e;
    transition: 0.3s;
}

.gdpr-cookies-right-footer-button.disabled {
    border: 1px #D9D9D9 solid;
    background:#E8E8E8;
    color:#BABABA;
    cursor:not-allowed;
    transition: 0.3s;
}


.gdpr-cookies-right-footer-button.left {
    position:absolute;
    margin-left:0;
    left:0;
}

.gdpr-cookies-right-footer-button.right {
    position:absolute;
    right:10px;
}

.gdpr-cookies-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top:5px;
}

.gdpr-cookies-switch input {display:none;}

.gdpr-cookies-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.gdpr-cookies-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.gdpr-cookies-switch input:checked + .gdpr-cookies-slider {
  background-color: #fa3e3e;
}

.gdpr-cookies-switch input:focus + .gdpr-cookies-slider {
  box-shadow: 0 0 1px #fa3e3e;
}

.gdpr-cookies-switch input:checked + .gdpr-cookies-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.gdpr-cookies-slider-label {
    font-size:17px;
    margin-top:30px;
}




#gdpr-cookies-overlaybg.hidden {
    display:none;
}

#gdpr-cookies-container.hidden {
    display:none;
}

.gdpr-cookies-floatButton {
    position: fixed; 
    bottom:20px; 
    left:20px;
    color:#FFFFFF;
}

.gdpr-cookies-floatButton-icon {
    background:#0A0A0A;
    padding:20px; 
    cursor:pointer;
}
.gdpr-cookies-floatButton:hover .gdpr-cookies-floatButton-text::after {
    content: attr(data-floatButton);
    background:#0a0a0a;
    padding:15px;
    font-size:14px;
    opacity:0.8;
}


.gdpr-cookies-warning-button{
    display:inline-block; 
    position:relative; 
    padding:10px;
    background:#fa3e3e;
    cursor:pointer;
    margin-left:10px;
}



.gdpr-cookies-warning-float-box {
    position:fixed; 
    width:100%; 
    text-align: center;
    padding:25px 0px 25px 0px; 
    color:#FFFFFF; 
    background:#0A0A0A;
}



.gdpr-cookies-warning-float-box.bottom, .gdpr-cookies-warning-float-box.bottom-left, .gdpr-cookies-warning-float-box.bottom-right {
    bottom:0; 
}

.gdpr-cookies-warning-float-box.top,.gdpr-cookies-warning-float-box.top-left,.gdpr-cookies-warning-float-box.top-right {
    top:0; 
}

}